<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Link to style.css page -->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<title>Burger Time!</title>
	<!-- Link to Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bangers|Barrio|Holtwood+One+SC|Knewave|Lemon|Rock+Salt|Schoolbell" rel="stylesheet">
	<!-- Link to jQuery Library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Link to Javascript Pg -->
	<script src="/assets/js/burgers.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>